In [20]:
# append : 리스트 끝에 원소를 추가
x = [1, 2, 3, 4]
x.append([3, 4])
print(x)

[1, 2, 3, 4, [3, 4]]

In [21]:
# extend : 리스트 끝에 모든 원소 추가
x = [1, 2, 3, 4]
x.extend([3, 4])
print(x)

[1, 2, 3, 4, 3, 4]

In [26]:
# copy : 원본에 영향을 주지 않기 위해서 사용

x = [1, 2, 3, 4]
y = x
y.extend([3, 4])
print(x, y)

z = [1, 2, 3, 4]
a = z.copy()
a.extend([3, 4])
print(z, a)

[1, 2, 3, 4, 3, 4] [1, 2, 3, 4, 3, 4]
[1, 2, 3, 4] [1, 2, 3, 4, 3, 4]

In [27]:
# clear ; 리스트 안의 원소 모두 삭제

x = [1, 2, 3, 4, 5]
print(x)
x.clear()
print(x)

[1, 2, 3, 4, 5]
[]

In [28]:
# count(a) : 리스트 안에 원소 a의 개수 반환
x = [1, 6, 3, 6, 5, 6, 7]
x.count(6)

3

In [29]:
# index : 리스트 값의 위치를 반환
x = [5, 8, 3]
x.index(8)

1

In [31]:
# insert(a, b) : 리스트의 a위치에 b원소 삽입
x = [1, 7, 2, 8, 4]
x.insert(2, 5)
x

[1, 7, 5, 2, 8, 4]

In [32]:
# pop : 리스트의 지정한 위치의 원소 삭제
x = [0, 2, 4, 6, 8]
x.pop(1)
x

[0, 4, 6, 8]

In [34]:
# remove : 리스트에 들어있는 원소 중 지정한 원소 삭제
x = [0, 2, 4, 6, 8]
x.remove(6)
x

[0, 2, 4, 8]

In [38]:
# format(value, format_spec)

# 단위 : 원
print(format(100000000000, ','))

# 지수
print(format(100000000000, 'e'))

# 16진수
print(format(100000000000, 'x'))

# 오른쪽, 왼쪽 , 가운데
print(format(10000, '0>020,.4f'))
print(format(10000, '0<020,.4f'))
print(format(10000, '0=020,.4f'))

100,000,000,000
1.000000e+11
174876e800
00000000010,000.0000
10,000.0000000000000
000,000,010,000.0000

In [43]:
# filter(function, iterable)
# 각 요소가 true인지 아닌지 확인 후 출력

# 1
def hojun(value):
    if value % 2 == 0:
        return True
    else:
        return False
print(list(filter(hojun, range(20))))

# 2
print(list(filter(lambda x : x % 2 == 0, range(20))))

# 3
print([i for i in range(20) if i % 2 == 0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [44]:
# map(function, iterable, ...)
# 주어진 function를 iterable의 각 항목에 적용하고 결과 목록을 출력

In [45]:
# zip(*iterables)
# iterables을 가져와 튜플로 집계하여 출력

x = ['a', 'b', 'c']
y = [1, 3, 2]

z = list(zip(x, y))
print(z)

[('a', 1), ('b', 3), ('c', 2)]

In [47]:
# Quque
import queue

q = queue.Queue()
q.put(2)
q.put(5)
q.put(7)
q.put(8)
print(q.get())
print(q.get())
print(q.get())
print(q.get())

2
5
7
8

In [57]:
# List Queue

class listq():
    def __init__(self):
        self.queue = []
    
    def push(self, n ):
        return self.queue.append(n)
        
    def pop(self):
        if len(self.queue) == 0:
            return -1
        return self.queue.pop(0) 

	def printq(self):
        print(self.queue)
    
    def empty(self):
        if len(self.queue) == 0:
            return print('Yes')
        return print('No')

queue= listq()
queue.push(1)
queue.push(2)
queue.push(3)
queue.empty()
queue.printq()
print(queue.pop())
print(queue.pop())
print(queue.pop())
print(queue.pop())

TabError: inconsistent use of tabs and spaces in indentation (4141421726.py, line 15)

In [66]:
# stack
l = []

l.append(10)
l.append(20)
l.append(30)
l.pop()
l.pop()
l.pop()
l
# l.append()

[]

In [68]:
판콜에이 = {'A', 'B', 'C'}
타이레놀 = {'A', 'B', 'D'}

print(판콜에이.difference(타이레놀))    # 차집합
print(판콜에이.intersection(타이레놀))  # 교집합
print(판콜에이.union(타이레놀))         # 합집합

{'C'}
{'A', 'B'}

In [69]:
# 단톡방에 x마리의 동물이 대화를 하고 있습니다.
# 각각의 동물들이 톡을 전송할 때마다 서버에는 아래와 같이 저장됩니다.
# 1. 단톡방에는 모두 몇 마리의 동물이 있을까요? 톡은 무조건 1회 이상 전송합니다.
# 2. 단톡방에 동물들마다 몇 번의 톡을 올렸을까요?

serverData = '개리 라이캣 개리 개리 라이캣 자바독 자바독 파이 썬'

d = {}

for i in set(serverData.split()):
    print(i, serverData.split().count(i))
    d[i] = serverData.split().count(i)
d

개리 3
자바독 2
썬 1
파이 1
라이캣 2

{'개리': 3, '자바독': 2, '썬': 1, '파이': 1, '라이캣': 2}

In [70]:
# set(iterable)

s = set('11122345666')
s

{'1', '2', '3', '4', '5', '6'}

In [71]:
# enumerate(iterable, start=0)
# index, value 를 추출

x = ['one', 'two', 'three']

for iterable in enumerate(x):
    print(iterable)

(0, 'one')
(1, 'two')
(2, 'three')

In [ ]:
# abs() 절대값을 출력